name: "build-test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: |
        npm install
        npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: azure/setup-helm@v3.5
    - name: Create k8s Kind Cluster
      uses: helm/kind-action@v1.7.0
      with:
        node_image: kindest/node:v1.25.2
    - uses: ./
      with:
        repo: https://charts.bitnami.com/bitnami
        chart: postgresql
